*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a h1{
    width: 100%;
    height: 100px;
    background-color: rgb(4, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 100px;
}
.b{
    box-sizing: border-box;
    border: 2px solid black;
    width: 500px;
    height: 250px;
    margin: 10px;
    padding: 4px;
    border-radius: 10px;
    background: white;
    margin: ;
    padding: ;
    
}

.b img{
    width: 445px;
    height: 140px;
    
    
    
    object-fit: cover;
}
.u{
    display: flex;
    
    
}
.q{
    border: 2px solid black;
    margin: 0;
    background-color: rgb(224, 13, 59);
    opacity: 80%;
    border-radius: 10px;
    width: 100%;
}
