*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
.container{
    width: 70%;
    height: 70%;
    background-color: white;
    margin: 0 auto;
    margin-top: 70px;
    
    
}
header .header{
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main1{
    width: 100%;
    height: 100px;
    display: flex;
}
.left{
    border-radius: 10px;
    border: 2px solid black;
    width: 25%;
    margin-top: 10px;
    height: 300px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.right{
    border-radius: 10px;
    border: 2px solid black;
    width: 75%;
    height: 360px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}
.main2{
    width: 100%;
    height: 100px;
    display: flex;
}

.leftDown{
    border-radius: 10px;
    border: 2px solid black;
    width: 25%;
    height: 170px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 220px
}
.rightDown{
    margin-left: 30px;
    border-radius: 10px;
    border: 2px solid black;
    width: 75%;
    height: 110px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 280px;
}
footer .footer{
    margin-top: 300px;
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
@media(max-width: 768px) {
    .main{
        flex-direction: column;
    }
    .right,.left{
        width: 100%;
    }
    .left .top{
        
    }
}




