*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: blue;
}
.container{
    border: 2px solid black;
    width: 100%;
    height: 100%;

}
header .header{
    
    width: 100%;
    height: 100px;
    background-color: rgb(0, 255, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
}
nav .nav{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
}
main .main{
    margin
    gap: 10px;
    width: 100%;
    height: 600px;
    display: flex;
    background-color: blueviolet;
    font-size: 20px;
}
main .left{
    width: 25%;
    height: 100%px;
    background-color: rgb(92, 63, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    
}
main .mid{
    width: 50%;
    height: 100%;
    background: #04ddfa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}
main .right{
    width: 25%;
    height: 100%;
    background-color: rgb(92, 63, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
footer .footer{
    width: 100%;
    height: 145px;
    background-color: #750bff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
