*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Grid Single", system-ui;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/55/fc/4b/55fc4bee7c31f0850262da53fa1e3180.gif);
}
.container{
    width: 30%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 10px;
    
}
.username {
    margin: 20px;
    
}
.username input{
    color: blue;
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
}
.username label{
    font-size: 25px;
    font-weight: bold;
}

.email {
    margin: 20px;
}
.email input{
    color: blue;
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
}
.email label{
    font-size: 25px;
    font-weight: bold;
}

.password {
    margin: 20px;
}
.password input{
    color: blue;
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
}
.password label{
    font-size: 25px;
    font-weight: bold;
}

.password {
    margin: 20px;
}
.password input{
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
}
.password label{
    font-size: 25px;
    font-weight: bold;
}

.confirmpass {
    margin: 20px;
}
.confirmpass input{
    color: blue;
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
}
.confirmpass label{
    font-size: 25px;
    font-weight: bold;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    color: white;
}
.btn{
    margin: 20px;

}
.btn button{
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    color: black;
    background: linear-gradient(to right, rgb(176, 0, 252), pink);
    transition: all 0.8s;


}
.btn button:hover{
    transform: scaley(1,1);
    color: white;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, blue, rgb(194, 188, 210));
}
.icon {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 30px;
    transition: all 0.7s;
 

}
.icon a .left{
    margin-left: 70px;
    gap: px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.icon a .left i:hover{
   transform: scale(1.5);
   color: black;
   
}
.img img{
    width: 550px;
    height: 550;
    box-shadow: 0 0 5px 5px;
    border-radius: 10px;
}

