*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Bitcount Grid Single", system-ui;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(0, 174, 255), pink);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpapers-clan.com/wp-content/uploads/2024/03/starfall-night-sky-mountains-aesthetic-gif-preview-desktop-wallpaper.gif);
}
.container{
    width: 30%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px 5px rgb(125, 4, 255);
}
h1{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 50px;
}
p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.email{
    margin: 20px;
}
.email label{
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;

}
.email input{
    color: blue;
    width: 100%;
    font-size: 15px;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
}
.password{
    margin: 20px;
}
.password label{
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;

}
.password input{
    color: blue;
    width: 100%;
    font-size: 15px;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
}
.remember{
    margin: 20px;
}
.remember label{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;

}
.remember input{
    margin-left: 20px;
    
}
.remember a{
    color: rgb(187, 255, 0);
    margin-left: 20px;
    font-size: 20px;
    /* text-decoration: none; */
    
}
.btn{
    display: flex;
    justify-content: right;
    margin: 20px;
}
.btn button{
    width: 40%;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;

}

